[project]
name = "grover"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "jupyter>=1.1.1",
    "matplotlib>=3.10.8",
    "qiskit[visualization]>=2.2.3",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
